<!-- header.component.html -->
<div class="header px-2">
  <div class="row">
    <div class="col-2 d-flex align-items-center gap-2">
      <img src="../../../assets/imgs/logo.png" width="80" height="80"/>
      <span class="m-0 h6 font-bold text-gold-16">دار عباد الرحمن</span>
    </div>
    <div class="col-10 d-flex align-items-center justify-content-end gap-4">
      <div class="d-inline-flex">
        <img src="../../../assets/imgs/person-gold.png" width="25" height="25" />
        <p class="m-0 font-bold text-gold-16">إبراهيم محمد إبراهيم</p>
      </div>
      <button class="d-flex align-items-center logout-btn gap-2">
        <p class="m-0 text-red-10 font-bold">تسجيل خروج</p>
        <img src="../../../assets/imgs/exit.png" width="25" height="25" />
      </button>
    </div>
  </div>
</div>
