<!-- sidebar.component.html -->
<div class="row background-gold-20 h-100 sidebar">
  <div class="col-12 p-0">
    <a class="link green-bottom-border">قائمة الكتاب</a>
    <a class="link green-bottom-border">قائمة الموظفين</a>
    <a class="link green-bottom-border">قائمة الغياب</a>
    <a class="link green-bottom-border">موعد سؤال القرآن</a>
    <a [routerLink]="['/', AppRoutes.BAGARAH_TO_HADEED]" class="link green-bottom-border">قائمة من البقرة إلى الحديد</a>
    <a class="link green-bottom-border">قائمة من المجادلة إلى الناس</a>
    <a class="link green-bottom-border">نتائج عمل الموظفين</a>
    <a class="link green-bottom-border">قائمة الخريجين (النور)</a>
    <a class="link green-bottom-border">الرسوم الشهرية</a>
    <a class="link">مسابقات الأزهر</a>
  </div>
</div>
